.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.statuspage {
}

.statuspage .link {
  color: inherit;
  display: flex;
  padding: 0.25em 0.5em;
  text-decoration: none;
  gap: 0.5em;
}

.statuspage .link:hover {
  text-decoration: underline;
}

.statuspage .indicator {
  border-radius: 50%;
  display: inline-block;
  height: 1em;
  width: 1em;
}

.statuspage .name {
}

.statuspage .name::after {
  content: ":";
}

.statuspage .description {
}

.statuspage.status_none .indicator {
  background: green;
}
.statuspage.status_maintenance .indicator {
  background: blue;
}
.statuspage.status_minor .indicator {
  background: orange;
}
.statuspage.status_major .indicator {
  background: red;
}
.statuspage.status_critical .indicator {
  background: darkred;
}
